.menu-bar {
    -fx-padding: 0;
}

.menu {
    -fx-font-size: 15px;
    -fx-padding: 5px 10px;
}

.title {
    -fx-pref-width: 800px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 20px;
}

.path-text-field {
    -fx-pref-width: 300px;
    -fx-pref-height: 30px;
}

.button-raised {
    -fx-padding: 0.35em;
    -fx-font-size: 15px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77, 102, 204);
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
}

.font {
    -fx-font-size: 15px
}

.message-lable {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.message {
    -fx-background-color: #CCCCCC;
}

.server-text-field {
    -fx-pref-height: 30px;
}